/* ////   General  //////*/

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700;800&display=swap");

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Maven Pro", sans-serif;
}

h1 {
  margin-bottom: 50px;
  font-size: 35px;
}

h1,
h2,
h3 {
  text-align: center;
}

p {
  line-height: 28px;
}

/* for scroll effect*/
section {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  height: 100vh;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  margin-top: -50px;
  color: white;
}



/* ////   Preorder  //////*/

#preorder{
  background-color: white;
  width:120px;
  height:120px;
  border-radius: 50%;
  position: fixed;
  top:20px;
  right:20px;
  z-index: 1;
}

#preorder h3{
  text-align: center;
  margin-top:40%; 
}

#preorder:hover{
  cursor: pointer;
  color: #7e7e7e;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  overflow: hidden;
  transition: 0.8s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
}

.overlay a {
  padding:10px;
  text-decoration: none;
  color:black;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #7e7e7e;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}



/* ////   Sections Styling  //////*/

.spacing {
  padding: 4vw 25vw 4vw 25vw;
}

.bg-pink {
  background-color: #F8C4C5;
}

.bg-yellow  {
  background-color: #FEDCA6;
}

.bg-blue{
  background-color: #4492C2;
}

.bg-orange {
  background-color: #E35225;
}

.hero-section {
  background: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) ),url("images/people1.jpg");
  background-size: 38%;
  height: 90vh;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.hero-section h1, #inspiration-section h1, #about-section h1, #tour-dates-section h1 {
  font-size: 4.8em !important;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#inspiration-section, #about-section,#tour-dates-section{
  background-size: 33%;
}

#inspiration-section{
  background:  linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) ),url("images/people3.jpg");
}

#about-section{
  background:  linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) ),url("images/people4.jpg");
}

#tour-dates-section{
  background:  linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) ),url("images/people2.jpg");
}



/* ////   Song Preview Section  //////*/

#songs-heading-container{
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.song-container {
  margin: 20px auto;
  list-style: none;
  overflow: auto;
  white-space: nowrap;
}

.song-container li {
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  width: 120px;
  height: 120px;
  margin-right: 12px;
  display: inline-block;
  cursor: pointer;
}

.song-container li:hover {
  filter: brightness(110%);
  cursor: pointer;
}

/*cover styling*/

.song-container li {
  background: rgb(234, 255, 255);
}

.song-container li:nth-child(even):after {
  content: "\01F4BF";
  font-size: 100px;
}

.song-container li:nth-child(odd):after {
  content: "\01F4C0";
  font-size: 100px;
}

/*soundwave*/

svg {
  width: 100%;
  height: 400px;
  margin: -180px 0;
}

path {
  stroke: white;
  stroke-width: 10px;
  stroke-linecap: round;
  fill: none;
}



/* ////   About Us Section  //////*/

/* alternative text for mobile*/

#alt-txt-inspiration{
  display: none;
}

/* clickable song names*/

.song-name-container {
  display: flex;
  margin: 60px auto;
  width: 60%;
}

#song-name-list {
  width: 30%;
  margin-right: 40px;
}

#song-name-list ul {
  list-style-type: none;
  margin: 0;
}

#song-name-list li {
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 25px;
  color:whitesmoke
}

#song-name-list li:hover {
  color:rgb(235, 235, 235);
  cursor: pointer;
}

#song-name-list li.active {
  color: rgb(224, 183, 115);
}

/* intros to the songs(inspiration behind them)*/

#song-intro-container {
  width: 70%;
}

#song-intro-container p{
  margin-top: 0;
}

#song-intro-container div {
  display: none;
}

#song-intro-container div.show {
  display: block;
}



/* ////   Contact Section  //////*/

#contact-container {
  text-align: center;
  margin: auto;
}

#socials * {
  font-size: 25px;
  padding: 10px;
  color: white;
}

#socials *:hover{
  filter: brightness(95%);
}



/* ////   Gigs Section  //////*/

#gigs-container h3 {
  margin: 40px 0 40px 0;
}

#gigs-container{
  overflow: scroll;
}

#gigs-container a{
  margin-left:10px;
  text-decoration: none;
  color:rgb(245, 212, 201);
}

#gigs-container a:hover{
  color:rgb(230, 178, 161);
}



/* ////   Media Queries  //////*/

@media (max-width: 1500px) {
  .spacing {
    padding: 4vw 15vw 4vw 15vw;
  }
}

@media (max-width: 991.98px) {
  .hero-section {
    background-size: 48%;
  }

  #inspiration-section, #about-section, #tour-dates-section{
    background-size: 43%;
  }

  .song-container {
    width:70%;
  }

  .song-name-container {
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .hero-section {
    background-size: 68%;
  }

  #inspiration-section, #about-section, #tour-dates-section{
    background-size: 63%;
  }

  .hero-section h1, #inspiration-section h1, #about-section h1, #tour-dates-section h1 {
    font-size: 3.25em !important;
  }

  #song-name-list ul {
    padding:0;
    margin: 0;
  }
}

@media (max-width: 575.98px) {
  h1 {
    margin-bottom: 30px;
  }

  .spacing {
    padding: 4vw 8vw 4vw 8vw;
  }

  #preorder{
    width:90px;
    height:90px;
  }
  
  #preorder h3{
    text-align: center;
    margin-top:40%; 
  }

  .hero-section {
    background-size: 78%;
  }

  #inspiration-section, #about-section, #tour-dates-section{
    background-size: 73%;
  }

  .song-name-container {
    display: flex;
    flex-wrap: wrap;
  }

  #song-name-list {
    width: 100%;
  }

  #song-name-list ul {
    padding: 0;
    margin: -15px 0 20px 0;
  }

  #song-name-list li {
    font-size: 20px;
    display: inline;
    padding-right: 30px;
  }

  #song-intro-container {
    width: 100%;
  }

  #gigs-container h3 {
    margin: 40px 30px 40px 30px;
  }
}

@media (max-width: 391px) {
  section {
    height: 150vh;
  }

  .hero-section h1, #inspiration-section h1, #about-section h1, #tour-dates-section h1 {
    font-size: 2.9em !important;
  }

  #song-intro-container-inspiration {
    display: none;
  }

  #alt-txt-inspiration{
    display: block;
  }

  #socials * {
    padding: 5px;
  }
}



